html body {
    background-color: #2F4FA5;
    background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/68/55/sG9KVr.png");
    padding: 65px;
}

.btn-primary{
    background-color: #2F4FA5;
    border-color: #11095A;
}

.container-fluid {
    background-color: #2F4FA5;
    position: fixed;
    top: 0;
}

.card{
    border: 3px solid;
    border-style: solid;
}

.form-title{
    background-color: lightblue;
}

.create-post-form{
    border-style: solid;
    background: white;
}

.form-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #2F4FA5;
}

.form-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-post-form{
    background: black;
}

.input-text{
    margin-top: 4px;
}

.submit{
    margin-top: 4px;
    margin-bottom: 7px;
}

.following-dropdown{
    margin: auto;
}

.following-dropdown-select{
    margin-left: 420px;
}

.post-card{
    margin: auto;
    margin-bottom: 20px;
    border-style: solid;
}

.post-likes{
    background-color: #007bff;
    border-color: #007bff;
}

.delete-post{
    background: rgb(154, 45, 45);
    border-color: #5A0909;
    color: white;
}

.selected-posts-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.my-posts{
    display: flex;
    flex-direction: column;
}

.post-caption{
    border-style: double double double double;
}

.like-btn{
    width: 20rem;
}

.pokemon-profile{
    background: white;
}

.pokemon-name{
    background: #B0A8A8;
}

.profile-card {
    background-color: transparent;
    border: 0px;
}

.profile-container{
    border-right-style: solid;
}

.profile-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-link{
    background: #d9d9d9;
}