html body {
    background-color: #2F4FA5;
    background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/68/55/sG9KVr.png");
}

.form-title{
    background-color: lightblue;
}

.create-post-form{
    border-style: solid;
    background: white;
}

.form-container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: black;
}

.container-fluid {
    background-color: #2F4FA5;
}

.my-posts{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: space-between; */
}

.card{
    border: 3px solid;
}

.following-dropdown{
    margin-left: 220px;
}

.following-dropdown-select{
    margin: auto;
}

.post-card{
    margin: auto;
    margin-bottom: 20px;
    border-style: solid;
}

.post-likes{
    background-color: #007bff;
    border-color: #007bff;
}

.delete-post{
    background: grey;
}

.selected-posts-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-caption{
    border-style: double double double double;
}

/* .likes-text{
    margin: auto;
} */

.card{
    border-style: solid;
}

.like-btn{
    width: 20rem;
}

.pokemon-profile{
    background: white;
}

.pokemon-name{
    background: #B0A8A8;
}

/* 
.all-posts-container {
    display: table-row;
    width: 100%;
}

.profile-container {
    border-style: solid;
    border-color: black;
    background-color: white;
}

.following-posts-container {
    border-style: solid;
    border-color: black;
    background-color: white;
}
*/

.profile-card {
    /* border-style: solid;
    border-color: black; */
    background-color: transparent;
    border: 0px;
}

.profile-container{
    border-right-style: solid;
}

.profile-label{
    text-align: right;
}